.logo{
    height:40px
}

.top_bar{width:95%;
    height:50px;
    background-color:black;
}



.top_bar ul li{
    float:left;
    list-style:none;
    color:white;
    padding-left:50px;
    position:relative;
    top:15px;
}

h1{
    clear:left;
    margin-top:10px;
    padding-left:10px;
    border-left:5px solid black;
    border-bottom:2px solid black;
    width:95%;
    float:left;
}

.date{
    margin-top:0 auto;
}

main{
    width:100%;
    height:1200px;
    border:3px solid red;
}
  


.left{
    float:left;
    width:69%;
    height:1000px;
    border:3px solid blue;
}

.book{
    float:left;
    height:350px;

}


.right{
    float:left;
    width:30%;
    height:475px;
    border:3px solid green;
}




.ninki{
    float:left;
    margin-top:10px;
    margin-left:20px;
    border-bottom:3px dashed gray;
    width:40%;
    font-size:20px;
}

.right .list1{
    clear:left;
    list-style:none;
}

.link{
    clear:left;
    margin-top:10px;
    margin-left:20px;
    border-bottom:3px dashed gray;
    width:40%;
    font-size:20px;
}

.right .list2{
    clear:left;
    list-style:none;
}

.cate{
    
    margin-top:10px;
    margin-left:20px;
    border-bottom:3px dashed gray;
    width:40%;
    font-size:20px;
}

.right .list3{
    clear:left;
    list-style:none;
}

.setsumei{
    clear:left;
    font-size:15px;
    
}

.pic_area{
    float:left;
    width:1425px;
    border:3px solid skyblue;
    height:480px;
}

.pic_area ul{
    list-style:none;
}

.pic_area ul li{
    float:left;
    position:relative;
    left:0px;
    
}

.pic_area ul li img{
    width:300px;
    height:200px;
    padding-left:30px;
}

.pic_setsumei ul{
    list-style:none;
}

.pic_setsumei ul li{
    float:left;
    padding-left:200px;
}